node_modules/
backend-end/node_modules/
front-end/node_modules/

.env
backend-end/.env
.env.local

backend-end/ROADMAP.md
ROADMAP.md


front-end/dist/
front-end/build/
.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/

