.fullContainerPartner {
    background-color: var(--accent-src);
}

/* =================Header Part ======================  */
.partnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1460px;
    margin: 0 auto;
}

.partnerContainer .header {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.partnerContainer .header p {
    padding: 10px 50px;
}

.partnerContainer .header h1 {
    position: relative;
    font-size: 50px;
    margin: 30px;
    color: var(--accent-strong);
}

[dir="rtl"] .partnerContainer .header h1::before {
    inset-inline-start: 40px;
    width: 6rem;
}

.partnerContainer .header h1::before {
    content: "";
    position: absolute;
    width: 8rem;
    height: 4px;
    background-color: var(--accent);
    bottom: -13px;
    inset-inline-start: 110px;
    border-radius: 3px;
}


/* =================Partner  Cards ======================  */

.partnerCards {
    padding: 30px;
    display: grid;
    column-gap: 35px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;

}

.partnerContainer .element .imageContainer img {
    max-width: 200px;
    border: 1rem solid var(--accent-src);
}

.partnerContainer .element {
    border-left: 4px solid var(--accent);
    background-color: var(--color-partner);
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* scale: 0.9; */
    transition: all 0.3s ease-in-out;
}

.partnerContainer .element:hover {
    scale: 1.03;
}

.element .innerContainer {
    display: flex;
    width: 100%;
    gap: 23px;

}

.partnerContainer .element .contentText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.partnerContainer .element .contentText h3 {
    color: var(--accent-strong);
}

.linkDetails img {
    width: 10px;
    height: 10px;
    transition: all 0.3s ease-in-out;

}

.linkDetails a {
    all: unset;
    font-weight: 800;
    color: var(--accent-strong);
    cursor: pointer;
}

.linkDetails {

    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 12px;
    padding: 12px;
    transition: all 0.3s ease-in-out;
}

.linkDetails:hover>img {
    transform: translateX(5px);

}

/* ==================Contact Button========================  */

.bePartner button img {
    width: 24px;
}

.bePartner p {
    color: var(--bg);
    max-width: 700px;
    font-size: 16px;
    

}

.bePartner h2 {
    padding: 30px 12px;
    font-size: 42px;
}

.bePartner a {
    all: unset;
}

.bePartner button {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--accent);
    border-radius: 6px;
    padding: 16px 20px;
    margin-top: 40px;
    gap: 10px;
    font-weight: 600;
    color: var(--color-contact-btn);
    transition: all 0.3s ease-in-out;

}

.bePartner button:hover {
    scale: 1.1;
}

.bePartner button:active {
    scale: 1.0;
}

.bePartner {
    width: 96%;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--accent-strong);
    border-radius: 14px;
    background: linear-gradient(135deg, #006e0f , #4BAF47, #2EB431 ,#006e0f );
    padding: 50px;
    text-align: center;
    color: var(--accent-very-light);
}




/* ===============Responsive design ========= */

@media(max-width:1020px) {
    .parentCards .partnerCards {
        grid-template-columns: 1fr;
    }
}

@media (max-width:768px) {
    .element .innerContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 9px;
        text-align: start;
    }

    .partnerContainer .element .contentText {
        align-items: start;
    }

    .partnerContainer .header p {
        padding: 10px 20px;
    }

    .partnerContainer .header {
        padding: 20px;
    }


}

@media (max-width: 610px) {
    .partnerContainer .header h1::before {
        left: 70px;
    }
}